*{
    margin:0;
    padding: 0;
    /* background-color:#ffb3e1; */
    font-family: "comic Sans MS";
}
.information a{
    color:black;
    text-decoration: none;
  }
.information a:hover {
    color:rgb(233, 195, 221);
  }
body{
    background-color:#f77a99;
}
img{
    position: fixed;
    height: 65vw;
}
h1{
    position: relative;
    text-align: center;
    font-size: 5vw;
    top: 5vw;
    filter: drop-shadow(10px 10px 5px #e9a9d0);
}
.main img{
    position: absolute;
    top: 3vw;
    left: 22vw;
    height: 15vw;
}
.hazuki img{
    position: absolute;
    top: 1.3vw;
    left: 62vw;
    height: 18vw;
}


.main2{
    height: 110vw;
}
/* パンフレット */
.picture{
    position: absolute;
}
.picture img{
    position: relative;
    top: 20vw;
    left: 3vw;
    height: 30vw;
    margin: 1vw;
}
/* しばらくお待ちください */
.picture1{
    text-align: center;
}
.picture1 img{
    position: relative;
    top: 20vw;
    left: 12vw;
    height: 30vw;
    margin: 1vw;
}
.picture2{
    text-align: center;
}
.picture2 img{
    position: relative;
    top: 35vw;
    height: 30vw;
    margin: 1vw;
}

/* 情報 */
/* 一列目 */
.information {
    position: absolute;
    top: 58vw;
    left: 2.5vw;
    text-align: center;
    font-size: 2vw;
    text-shadow    : 
       2px  2px 1px #ffffff,
      -2px  2px 1px #ffffff,
       2px -2px 1px #ffffff,
      -2px -2px 1px #ffffff,
       2px  0px 1px #ffffff,
       0px  2px 1px #ffffff,
      -2px  0px 1px #ffffff,
       0px -2px 1px #ffffff; 
}
.information2 {
    position: absolute;
    top: 58vw;
    left: 38vw;
    text-align: center;
    font-size: 2vw;
}
.information3 {
    position: absolute;
    top: 58vw;
    left: 61vw;
    text-align: center;
    font-size: 2vw;
}
.information4 {
    position: absolute;
    top: 58vw;
    left: 85vw;
    text-align: center;
    font-size: 2vw;
} 
/* 二列目 */
.information5{
    position: absolute;
    top: 106vw;
    left: 14vw;
    text-align: center;
    font-size: 2vw;
}
.information6{
    position: absolute;
    top: 106vw;
    left: 38vw;
    text-align: center;
    font-size: 2vw;
}
.information7{
    position: absolute;
    top: 106vw;
    left: 61vw;
    text-align: center;
    font-size: 2vw;
}
.information8{
    position: absolute;
    top: 106vw;
    left: 85vw;
    text-align: center;
    font-size: 2vw;
}